<div class="row">
    <div class="article-container">
        <div class="white z-depth-1 article-container">
            <h3 class="center-align"><%= @article.title %></h3>

            <!-- INICIO CONTENIDO DEL ARTICULO -->
            <div>
                <%= image_tag @article.cover.url(), class:"responsive-img center-align"%>
            </div>
            <div>
                <p><%= @article.body%></p>
            </div>
            <% unless @article.user.nil? %>
                <p>
                    Escrito por: <span class="bold"><%= @article.user.email %></span> - 
                    Visitas: <%= @article.visits_count %> - <%= link_to "Editar Artículo", edit_article_path(@article) %>
                </p>
            <%end%>
            <!-- FIN CONTENIDO ARTICULO -->
        </div>

        <!-- INICIO DE COMENTARIOS-->
        <div class="comment-form white z-depth-1" id="comments-box">
            <h5>Comentarios</h5>
            <%= render "comments/form", :comment => @comment %>
            <div class="clearfix"></div>
            <% @article.comments.each do |comment| %>
                <span class="bold"><%= comment.user.email %></span> dice:
                <p class="comment-body"><%= comment.body %></p>
            <%end%>
        </div>
        <!-- FIN DE COMENTARIOS-->
    </div>
</div>
